@import "../../utilities/variables";

.favorites-container,
.add-book {
	display: flex;
	justify-content: center;
	align-items: center;
}

.favorites-container {
	.add-book {
		.shelf-btn {
			.delete-btn {
				margin-left: 20px;
			}
		}
	}
}

//Responsive design
//pads
@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
	.favorites-container {
		.add-book {
			flex-direction: column;
		}
	}
}

// Iphone X
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
	.favorites-container {
		.add-book {
			flex-direction: column;
			select {
				margin-bottom: 15px;
			}
		}
	}
}

// Iphone 6
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	.favorites-container {
		.add-book {
			flex-direction: column;
			select {
				margin-bottom: 15px;
			}
		}
	}
}

// Galaxy
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
	.favorites-container {
		.add-book {
			flex-direction: column;
			select {
				margin-bottom: 15px;
			}
		}
	}
}
