.bg-gradient-chill {
  background: linear-gradient(135deg, #09e485 0%, #0291e3 100%);
}

.bg-gradient-warm {
  background: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%);
}

.bg-gradient-hot {
  background: linear-gradient(135deg, #f9445a 0%, #fd803f 100%);
}

.bg-gradient-cold {
  background: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%);
}

.bg-gradient-purple {
  background: linear-gradient(135deg, #22151e 0%, #39122a 30%, #8b4c72 100%);
}

.favorites-container,
.add-book {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorites-container .add-book .shelf-btn .delete-btn {
  margin-left: 20px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
  .favorites-container .add-book {
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .favorites-container .add-book {
    flex-direction: column;
  }
  .favorites-container .add-book select {
    margin-bottom: 15px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .favorites-container .add-book {
    flex-direction: column;
  }
  .favorites-container .add-book select {
    margin-bottom: 15px;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
  .favorites-container .add-book {
    flex-direction: column;
  }
  .favorites-container .add-book select {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=Favorites.css.map */
