.bg-gradient-chill {
  background: linear-gradient(135deg, #09e485 0%, #0291e3 100%);
}

.bg-gradient-warm {
  background: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%);
}

.bg-gradient-hot {
  background: linear-gradient(135deg, #f9445a 0%, #fd803f 100%);
}

.bg-gradient-cold {
  background: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%);
}

.bg-gradient-purple {
  background: linear-gradient(135deg, #22151e 0%, #39122a 30%, #8b4c72 100%);
}

.homepage-container,
.booksResult-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.homepage-container .homepage {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 100px auto;
}
.homepage-container .homepage h2 {
  font-size: 3.3rem;
}

.booksResult-container {
  height: 100%;
}
.booksResult-container .search {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
  .homepage-container,
.booksResult-container {
    height: 88vh;
  }

  .homepage-container .homepage h2 {
    text-align: center;
    font-size: 2rem;
  }

  .booksResult-container {
    height: auto;
  }
}
/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
  }

  .homepage-container .homepage {
    margin: 50px;
  }
  .homepage-container .homepage h2 {
    text-align: center;
    font-size: 2rem;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .homepage-container .homepage h2 {
    text-align: center;
    font-size: 1.8rem;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
  .homepage-container .homepage h2 {
    text-align: center;
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=Home.css.map */
