@import "../../utilities/_variables";

.homepage-container,
.booksResult-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.homepage-container {
	.homepage {
		display: flex;
		justify-content: center;
		width: 100vw;
		margin: 100px auto;
		h2 {
			font-size: 3.3rem;
		}
	}
}

// books list container design
.booksResult-container {
	height: 100%;
	.search {
		width: 100%;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 100px;
	}
}

// Responsive design
//ipads
@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
	.homepage-container,
	.booksResult-container {
		height: 88vh;
	}

	.homepage-container {
		.homepage {
			h2 {
				text-align: center;
				font-size: 2rem;
			}
		}
	}

	.booksResult-container {
		height: auto;
	}
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
	.homepage-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 80vh;
	}
	.homepage-container {
		.homepage {
			margin: 50px;
			h2 {
				text-align: center;
				font-size: 2rem;
			}
		}
	}
}

//iphone 6
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	.homepage-container {
		.homepage {
			h2 {
				text-align: center;
				font-size: 1.8rem;
			}
		}
	}
}

//Galaxy
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
	.homepage-container {
		.homepage {
			h2 {
				text-align: center;
				font-size: 1.8rem;
			}
		}
	}
}
