$primaryColor: #efe9e7;
$headerColor: #584b53;
$fontLightColor: #fbfef9;
$fontColor: #4c5760;

$fontFamily: "Raleway", sans-serif;

@mixin container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
$primaryColor: #fff0e4;
$headerColor: #feb57a;
$fontHeaderColor: #ded2e0;
$fontColor: #535353;

$blackPurpleColor: #22151e;
$mediumPurpleColor: #39122a;
$lightPurpleColor: #fffbfd;
$lighterPurpleColor: #8b4c72;
$buttonHoverColor: #ad1e74;

$fontFamily: "Raleway", sans-serif;

$gradients: () !default;
$gradients: map-merge(
	(
		chill: linear-gradient(135deg, #09e485 0%, #0291e3 100%),
		warm: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%),
		hot: linear-gradient(135deg, #f9445a 0%, #fd803f 100%),
		cold: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%),
		purple:
			linear-gradient(
				135deg,
				$blackPurpleColor 0%,
				$mediumPurpleColor 30%,
				$lighterPurpleColor 100%
			),
	),
	$gradients
);

@mixin bg-gradient($parent, $gradient) {
	#{$parent} {
		background: $gradient;
	}
}

@each $gradient, $value in $gradients {
	@include bg-gradient(".bg-gradient-#{$gradient}", $value);
}

@mixin container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin labelMargin($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin button($marginTop, $width, $height) {
	margin-top: $marginTop;
	width: $width;
	height: $height;
	background-color: $mediumPurpleColor;
	color: $lightPurpleColor;
	border: 1px solid transparent;
	border-radius: 15px;
	&:hover {
		background-color: $buttonHoverColor;
	}
}

@mixin form-design(
	$classInfo,
	$formName,
	$classInfoHeight,
	$classInfoWidth,
	$marginBottom,
	$buttonTop,
	$buttonWidth,
	$buttonHeight
) {
	#{$classInfo} {
		height: $classInfoHeight;
		width: $classInfoWidth;
		background-color: $lighterPurpleColor;
		border-radius: 15px;
		h3 {
			color: $lightPurpleColor;
			font-size: 1.8rem;
			margin-bottom: $marginBottom;
		}
		#{$formName} {
			label {
				color: $lightPurpleColor;
				font-size: 1.5rem;
				margin-bottom: 20px;
			}
			input {
				width: 450px;
				height: 40px;
				padding-left: 20px;
				margin-bottom: 30px;
				border-radius: 15px;
			}
			button {
				@include button($buttonTop, $buttonWidth, $buttonHeight);
			}
		}
	}
}
