.bg-gradient-chill {
  background: linear-gradient(135deg, #09e485 0%, #0291e3 100%);
}

.bg-gradient-warm {
  background: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%);
}

.bg-gradient-hot {
  background: linear-gradient(135deg, #f9445a 0%, #fd803f 100%);
}

.bg-gradient-cold {
  background: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%);
}

.bg-gradient-purple {
  background: linear-gradient(135deg, #22151e 0%, #39122a 30%, #8b4c72 100%);
}

.account-container,
.account-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account-container {
  height: 79vh;
}
.account-container .account-info {
  background-color: #8b4c72;
  height: 55vh;
  width: 60vw;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 10px 5px 5px #22151e;
}
.account-container .account-info h2 {
  margin: 10px;
  text-decoration: underline;
  font-size: 2.5rem;
  color: #22151e;
}
.account-container .account-info p {
  font-size: 2rem;
  color: #fffbfd;
}
.account-container .account-info button {
  margin-top: 20px;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .account-container .account-info {
    height: 45vh;
    width: 85vw;
  }
  .account-container .account-info h2 {
    font-size: 1.5rem;
  }
  .account-container .account-info p {
    font-size: 1.2rem;
  }
  .account-container .account-info button {
    height: 30px;
    width: 100px;
  }
}

/*# sourceMappingURL=Account.css.map */
