@import "../../../utilities/variables";

.account-container,
.account-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.account-container {
	height: 79vh;

	.account-info {
		background-color: $lighterPurpleColor;
		height: 55vh;
		width: 60vw;
		border: 1px solid transparent;
		border-radius: 20px;
		box-shadow: 10px 5px 5px $blackPurpleColor;
		h2 {
			margin: 10px;
			text-decoration: underline;
			font-size: 2.5rem;
			color: $blackPurpleColor;
		}
		p {
			font-size: 2rem;
			color: $lightPurpleColor;
		}
		button {
			margin-top: 20px;
		}
	}
}

//responsive Design
// Iphone
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
	.account-container {
		.account-info {
			height: 45vh;
			width: 85vw;
			h2 {
				font-size: 1.5rem;
			}
			p {
				font-size: 1.2rem;
			}
			button {
				height: 30px;
				width: 100px;
			}
		}
	}
}
