.bg-gradient-chill {
  background: linear-gradient(135deg, #09e485 0%, #0291e3 100%);
}

.bg-gradient-warm {
  background: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%);
}

.bg-gradient-hot {
  background: linear-gradient(135deg, #f9445a 0%, #fd803f 100%);
}

.bg-gradient-cold {
  background: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%);
}

.bg-gradient-purple {
  background: linear-gradient(135deg, #22151e 0%, #39122a 30%, #8b4c72 100%);
}

body {
  margin: 0;
}

#root {
  margin: 0;
  height: 100%;
  background-color: #fffbfd;
  font-family: "Raleway", sans-serif;
  color: #535353;
}

.App {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1536px) {
  .App .container {
    max-width: 100vw;
  }
}
.App .container {
  width: 100%;
}

.signUp-container,
.signUp-info,
.login-container,
.login-info,
.formInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .App {
    height: 100vh;
  }
}

/*# sourceMappingURL=App.css.map */
