@import "../../utilities/variables";

body {
	margin: 0;
}

#root {
	margin: 0;
	height: 100%;
	background-color: $lightPurpleColor;
	font-family: $fontFamily;
	color: $fontColor;
}

.App {
	display: flex;
	flex-direction: column;
	@media (min-width: 1536px) {
		.container {
			max-width: 100vw;
		}
	}

	.container {
		width: 100%;
	}
}

.signUp-container,
.signUp-info,
.login-container,
.login-info,
.formInfo {
	@include container;
}

//responsive design
// Iphone X
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.App {
		height: 100vh;
	}
}
