@import "../../../utilities/variables";

.signUp-container {
	height: 90vh;
	margin: 30px;
	@include form-design(
		".signUp-info",
		".form-signUp",
		800px,
		1100px,
		20px,
		20px,
		250px,
		50px
	);
	.form-signUp {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.signUp-form {
		.signUp-info {
			h2 {
				color: red;
				font-size: 1.2rem;
			}
		}
	}
}

// responsive design
/* ipads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
	.signUp-container {
		height: 85vh;
		.signUp-form {
			height: 75vh;
			.signUp-info {
				width: 80vw;
				height: 72vh;
				border: 1px solid transparent;
				border-radius: 20px;
				box-shadow: 5px 5px 5px $blackPurpleColor;
			}
		}
	}
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
	/* Styles */
	a {
		font-size: 0.8rem;
	}

	.signUp-container {
		height: 130vh;
		.btn-home {
			height: 30px;
			width: 100px;
		}
		.signUp-form {
			height: 90vh;
			.signUp-info,
			.formInfo {
				height: 80vh;
				width: 350px;
			}

			.signUp-info {
				border: 1px solid transparent;
				border-radius: 20px;
				box-shadow: 5px 5px 5px $blackPurpleColor;

				h3 {
					font-size: 1.5rem;
					text-align: center;
					margin-bottom: 15px;
				}
				.form-signUp {
					input {
						width: 280px;
						height: 30px;
					}
					label {
						font-size: 1rem;
						margin-top: 0;
					}
					button {
						height: 30px;
						width: 100px;
						margin-top: 5px;
					}
				}
			}
		}
	}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	/* Styles */
	a {
		font-size: 0.8rem;
	}

	.signUp-container {
		height: 130vh;
		.btn-home {
			height: 30px;
			width: 100px;
		}
		.signUp-form {
			height: 93vh;
			.signUp-info,
			.formInfo {
				height: 86vh;
				width: 350px;
			}

			.signUp-info {
				border: 1px solid transparent;
				border-radius: 20px;
				box-shadow: 5px 5px 5px $blackPurpleColor;

				h3 {
					font-size: 1.5rem;
					text-align: center;
					margin-bottom: 15px;
				}
				.form-signUp {
					input {
						width: 280px;
						height: 30px;
					}
					label {
						font-size: 1rem;
						margin-top: 0;
					}
					button {
						height: 30px;
						width: 100px;
						margin-top: 5px;
					}
				}
			}
		}
	}
}

//Galaxy
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
	a {
		font-size: 0.8rem;
	}

	.signUp-container {
		height: 130vh;
		.btn-home {
			height: 30px;
			width: 100px;
		}
		.signUp-form {
			height: 93vh;
			.signUp-info,
			.formInfo {
				height: 86vh;
				width: 350px;
			}

			.signUp-info {
				border: 1px solid transparent;
				border-radius: 20px;
				box-shadow: 5px 5px 5px $blackPurpleColor;

				h3 {
					font-size: 1.5rem;
					text-align: center;
					margin-bottom: 15px;
				}
				.form-signUp {
					input {
						width: 280px;
						height: 30px;
					}
					label {
						font-size: 1rem;
						margin-top: 0;
					}
					button {
						height: 30px;
						width: 100px;
						margin-top: 5px;
					}
				}
			}
		}
	}
}
