.bg-gradient-chill {
  background: linear-gradient(135deg, #09e485 0%, #0291e3 100%);
}

.bg-gradient-warm {
  background: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%);
}

.bg-gradient-hot {
  background: linear-gradient(135deg, #f9445a 0%, #fd803f 100%);
}

.bg-gradient-cold {
  background: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%);
}

.bg-gradient-purple {
  background: linear-gradient(135deg, #22151e 0%, #39122a 30%, #8b4c72 100%);
}

.signUp-container {
  height: 90vh;
  margin: 30px;
}
.signUp-container .signUp-info {
  height: 800px;
  width: 1100px;
  background-color: #8b4c72;
  border-radius: 15px;
}
.signUp-container .signUp-info h3 {
  color: #fffbfd;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.signUp-container .signUp-info .form-signUp label {
  color: #fffbfd;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.signUp-container .signUp-info .form-signUp input {
  width: 450px;
  height: 40px;
  padding-left: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
}
.signUp-container .signUp-info .form-signUp button {
  margin-top: 20px;
  width: 250px;
  height: 50px;
  background-color: #39122a;
  color: #fffbfd;
  border: 1px solid transparent;
  border-radius: 15px;
}
.signUp-container .signUp-info .form-signUp button:hover {
  background-color: #ad1e74;
}
.signUp-container .form-signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signUp-container .signUp-form .signUp-info h2 {
  color: red;
  font-size: 1.2rem;
}

/* ipads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
  .signUp-container {
    height: 85vh;
  }
  .signUp-container .signUp-form {
    height: 75vh;
  }
  .signUp-container .signUp-form .signUp-info {
    width: 80vw;
    height: 72vh;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #22151e;
  }
}
/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  a {
    font-size: 0.8rem;
  }

  .signUp-container {
    height: 130vh;
  }
  .signUp-container .btn-home {
    height: 30px;
    width: 100px;
  }
  .signUp-container .signUp-form {
    height: 90vh;
  }
  .signUp-container .signUp-form .signUp-info,
.signUp-container .signUp-form .formInfo {
    height: 80vh;
    width: 350px;
  }
  .signUp-container .signUp-form .signUp-info {
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #22151e;
  }
  .signUp-container .signUp-form .signUp-info h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
  }
  .signUp-container .signUp-form .signUp-info .form-signUp input {
    width: 280px;
    height: 30px;
  }
  .signUp-container .signUp-form .signUp-info .form-signUp label {
    font-size: 1rem;
    margin-top: 0;
  }
  .signUp-container .signUp-form .signUp-info .form-signUp button {
    height: 30px;
    width: 100px;
    margin-top: 5px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  a {
    font-size: 0.8rem;
  }

  .signUp-container {
    height: 130vh;
  }
  .signUp-container .btn-home {
    height: 30px;
    width: 100px;
  }
  .signUp-container .signUp-form {
    height: 93vh;
  }
  .signUp-container .signUp-form .signUp-info,
.signUp-container .signUp-form .formInfo {
    height: 86vh;
    width: 350px;
  }
  .signUp-container .signUp-form .signUp-info {
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #22151e;
  }
  .signUp-container .signUp-form .signUp-info h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
  }
  .signUp-container .signUp-form .signUp-info .form-signUp input {
    width: 280px;
    height: 30px;
  }
  .signUp-container .signUp-form .signUp-info .form-signUp label {
    font-size: 1rem;
    margin-top: 0;
  }
  .signUp-container .signUp-form .signUp-info .form-signUp button {
    height: 30px;
    width: 100px;
    margin-top: 5px;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
  a {
    font-size: 0.8rem;
  }

  .signUp-container {
    height: 130vh;
  }
  .signUp-container .btn-home {
    height: 30px;
    width: 100px;
  }
  .signUp-container .signUp-form {
    height: 93vh;
  }
  .signUp-container .signUp-form .signUp-info,
.signUp-container .signUp-form .formInfo {
    height: 86vh;
    width: 350px;
  }
  .signUp-container .signUp-form .signUp-info {
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #22151e;
  }
  .signUp-container .signUp-form .signUp-info h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
  }
  .signUp-container .signUp-form .signUp-info .form-signUp input {
    width: 280px;
    height: 30px;
  }
  .signUp-container .signUp-form .signUp-info .form-signUp label {
    font-size: 1rem;
    margin-top: 0;
  }
  .signUp-container .signUp-form .signUp-info .form-signUp button {
    height: 30px;
    width: 100px;
    margin-top: 5px;
  }
}

/*# sourceMappingURL=SignUp.css.map */
