@import "../../../utilities/variables";

.login-container {
	a {
		margin-top: 10px;
		text-decoration: none;
		color: $lightPurpleColor;
	}

	a:hover {
		color: $buttonHoverColor;
	}

	.btn-home {
		margin-top: 40px;
	}

	.login-form {
		.login-info {
			h2 {
				color: red;
				font-size: 1.2rem;
			}
			.formInfo{
				.user-links {
					margin-top: 20px;
					height: 30px;
					.resetpwd{
						margin-left: 30px;
					}
				}
			}
		}
	}

	margin: 40px auto;
	@include form-design(
		".login-info",
		".formInfo",
		650px,
		1100px,
		50px,
		50px,
		250px,
		50px
	);
	.password {
		@include labelMargin(40px, 0);
	}


}

// responsive design
/* ipads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
	.login-container {
		height: 82vh;
		.login-form {
			height: 70vh;

			.login-info {
				width: 80vw;
				height: 60vh;
				border: 1px solid transparent;
				border-radius: 20px;
				box-shadow: 5px 5px 5px $blackPurpleColor;
			}
		}
	}
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
	/* Styles */
	a {
		font-size: 0.8rem;
	}

	.login-container {
		height: 100vh;
		.login-form {
			height: 65vh;
			.login-info,
			.formInfo {
				height: 60vh;
				width: 350px;
			}

			.login-info {
				border: 1px solid transparent;
				border-radius: 20px;
				box-shadow: 5px 5px 5px $blackPurpleColor;

				h3 {
					font-size: 1.5rem;
					text-align: center;
					margin-bottom: 15px;
				}
				.formInfo {
					input {
						width: 280px;
						height: 30px;
					}
					label {
						font-size: 1rem;
						margin-top: 0;
					}
					button {
						height: 30px;
						width: 100px;
						margin-top: 5px;
					}
				}
			}
		}
	}
}

//Iphone 6
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	a {
		font-size: 0.8rem;
	}

	.login-container {
		height: 100vh;
		.login-form {
			height: 65vh;
			.login-info,
			.formInfo {
				height: 60vh;
				width: 350px;
			}

			.login-info {
				border: 1px solid transparent;
				border-radius: 20px;
				box-shadow: 5px 5px 5px $blackPurpleColor;

				h3 {
					font-size: 1.5rem;
					text-align: center;
					margin-bottom: 15px;
				}
				.formInfo {
					input {
						width: 280px;
						height: 30px;
					}
					label {
						font-size: 1rem;
						margin-top: 0;
					}
					button {
						height: 30px;
						width: 100px;
						margin-top: 5px;
					}
				}
			}
		}
	}
}

// Galaxy
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
	a {
		font-size: 0.8rem;
	}

	.login-container {
		height: 100vh;
		.login-form {
			height: 70vh;
			.login-info,
			.formInfo {
				height: 70vh;
				width: 350px;
			}

			.login-info {
				border: 1px solid transparent;
				border-radius: 20px;
				box-shadow: 5px 5px 5px $blackPurpleColor;

				h3 {
					font-size: 1.5rem;
					text-align: center;
					margin-bottom: 15px;
				}
				.formInfo {
					input {
						width: 280px;
						height: 30px;
					}
					label {
						font-size: 1rem;
						margin-top: 0;
					}
					button {
						height: 30px;
						width: 100px;
						margin-top: 5px;
					}
				}
			}
		}
	}
}
