.bg-gradient-chill {
  background: linear-gradient(135deg, #09e485 0%, #0291e3 100%);
}

.bg-gradient-warm {
  background: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%);
}

.bg-gradient-hot {
  background: linear-gradient(135deg, #f9445a 0%, #fd803f 100%);
}

.bg-gradient-cold {
  background: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%);
}

.bg-gradient-purple {
  background: linear-gradient(135deg, #22151e 0%, #39122a 30%, #8b4c72 100%);
}

.login-container {
  margin: 40px auto;
}
.login-container a {
  margin-top: 10px;
  text-decoration: none;
  color: #fffbfd;
}
.login-container a:hover {
  color: #ad1e74;
}
.login-container .btn-home {
  margin-top: 40px;
}
.login-container .login-form .login-info h2 {
  color: red;
  font-size: 1.2rem;
}
.login-container .login-form .login-info .formInfo .user-links {
  margin-top: 20px;
  height: 30px;
}
.login-container .login-form .login-info .formInfo .user-links .resetpwd {
  margin-left: 30px;
}
.login-container .login-info {
  height: 650px;
  width: 1100px;
  background-color: #8b4c72;
  border-radius: 15px;
}
.login-container .login-info h3 {
  color: #fffbfd;
  font-size: 1.8rem;
  margin-bottom: 50px;
}
.login-container .login-info .formInfo label {
  color: #fffbfd;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.login-container .login-info .formInfo input {
  width: 450px;
  height: 40px;
  padding-left: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
}
.login-container .login-info .formInfo button {
  margin-top: 50px;
  width: 250px;
  height: 50px;
  background-color: #39122a;
  color: #fffbfd;
  border: 1px solid transparent;
  border-radius: 15px;
}
.login-container .login-info .formInfo button:hover {
  background-color: #ad1e74;
}
.login-container .password {
  margin-top: 40px;
  margin-bottom: 0;
}

/* ipads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
  .login-container {
    height: 82vh;
  }
  .login-container .login-form {
    height: 70vh;
  }
  .login-container .login-form .login-info {
    width: 80vw;
    height: 60vh;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #22151e;
  }
}
/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  a {
    font-size: 0.8rem;
  }

  .login-container {
    height: 100vh;
  }
  .login-container .login-form {
    height: 65vh;
  }
  .login-container .login-form .login-info,
.login-container .login-form .formInfo {
    height: 60vh;
    width: 350px;
  }
  .login-container .login-form .login-info {
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #22151e;
  }
  .login-container .login-form .login-info h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
  }
  .login-container .login-form .login-info .formInfo input {
    width: 280px;
    height: 30px;
  }
  .login-container .login-form .login-info .formInfo label {
    font-size: 1rem;
    margin-top: 0;
  }
  .login-container .login-form .login-info .formInfo button {
    height: 30px;
    width: 100px;
    margin-top: 5px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  a {
    font-size: 0.8rem;
  }

  .login-container {
    height: 100vh;
  }
  .login-container .login-form {
    height: 65vh;
  }
  .login-container .login-form .login-info,
.login-container .login-form .formInfo {
    height: 60vh;
    width: 350px;
  }
  .login-container .login-form .login-info {
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #22151e;
  }
  .login-container .login-form .login-info h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
  }
  .login-container .login-form .login-info .formInfo input {
    width: 280px;
    height: 30px;
  }
  .login-container .login-form .login-info .formInfo label {
    font-size: 1rem;
    margin-top: 0;
  }
  .login-container .login-form .login-info .formInfo button {
    height: 30px;
    width: 100px;
    margin-top: 5px;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
  a {
    font-size: 0.8rem;
  }

  .login-container {
    height: 100vh;
  }
  .login-container .login-form {
    height: 70vh;
  }
  .login-container .login-form .login-info,
.login-container .login-form .formInfo {
    height: 70vh;
    width: 350px;
  }
  .login-container .login-form .login-info {
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #22151e;
  }
  .login-container .login-form .login-info h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
  }
  .login-container .login-form .login-info .formInfo input {
    width: 280px;
    height: 30px;
  }
  .login-container .login-form .login-info .formInfo label {
    font-size: 1rem;
    margin-top: 0;
  }
  .login-container .login-form .login-info .formInfo button {
    height: 30px;
    width: 100px;
    margin-top: 5px;
  }
}

/*# sourceMappingURL=Login.css.map */
