.bg-gradient-chill {
  background: linear-gradient(135deg, #09e485 0%, #0291e3 100%);
}

.bg-gradient-warm {
  background: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%);
}

.bg-gradient-hot {
  background: linear-gradient(135deg, #f9445a 0%, #fd803f 100%);
}

.bg-gradient-cold {
  background: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%);
}

.bg-gradient-purple {
  background: linear-gradient(135deg, #22151e 0%, #39122a 30%, #8b4c72 100%);
}

.book-display,
.booksContainer,
.book-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.book-display {
  width: 33%;
}
.book-display .booksContainer {
  background-color: #8b4c72;
  box-shadow: 10px 5px 5px #22151e;
  border-radius: 10px;
  margin: 150px 50px 0;
  height: 800px;
  width: 100%;
}
.book-display .booksContainer .book-div {
  background-color: #fffbfd;
  box-shadow: 10px 5px 5px #22151e;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 700px;
  border-radius: 10px;
}
.book-display .booksContainer .book-div .book-img {
  flex-direction: column;
  height: 100%;
}
.book-display .booksContainer .book-div .book-img img {
  height: 300px;
  margin: 60px auto 0;
}
.book-display .booksContainer .book-div .book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.book-display .booksContainer .book-div .book-info p,
.book-display .booksContainer .book-div .book-info h3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.book-display .booksContainer .book-div .book-info h3 {
  text-align: center;
  margin: 0 50px;
}
.book-display .booksContainer .book-div .details-btn {
  margin: 30px 0;
}
.book-display .booksContainer .bookInfo {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #fffbfd;
  margin-bottom: 60px;
}
.book-display .booksContainer .bookInfo .title {
  font-weight: bold;
  font-size: 1.3rem;
}
.book-display .booksContainer .bookInfo .author {
  font-size: 1.1rem;
}

section,
.detail-container,
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #22151e;
}

.books-list {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.books-list a {
  text-decoration: none;
}
.books-list section {
  background-color: #8b4c72;
  width: 80%;
  margin: 100px 0;
}
.books-list section .details {
  width: 70%;
  height: 90%;
  margin: 50px 0 80px 0;
  background-color: #fffbfd;
  padding: 0 50px 20px;
  text-align: justify;
}
.books-list section .book-img img {
  margin-top: 50px;
  height: 300px;
  width: 200px;
}
.books-list section .title h3 {
  font-size: 2.2em;
  text-align: center;
}
.books-list section .author p {
  font-size: 1.5em;
  font-weight: bold;
}
.books-list section .description p {
  font-size: 1.3em;
}
.books-list section .add-book {
  margin-bottom: 50px;
}
.books-list section .add-book label {
  font-size: 1.5rem;
  color: #fffbfd;
  margin-right: 15px;
}
.books-list section .add-book select {
  height: 40px;
  border-radius: 10px;
  margin-right: 25px;
}
.books-list section .add-book button {
  height: 30px;
}
.books-list .home-link {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  margin: 100px 200px;
}
.books-list .btn-return-list button {
  margin: 100px 200px 100px;
}

/* ipads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
  .book-display {
    width: 50%;
  }
  .book-display .booksContainer {
    height: 600px;
    margin: 100px 15px 0;
  }
  .book-display .booksContainer .book-div {
    height: 450px;
  }
  .book-display .booksContainer .book-div .book-img img {
    height: 150px;
  }
  .book-display .booksContainer .book-div .book-info {
    margin: 10px 0 0;
  }
  .book-display .booksContainer .book-div .details-btn a {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .book-display .booksContainer .book-div .details-btn a button {
    margin-top: 0;
  }

  .books-list section {
    width: 90%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .book-display {
    width: 100%;
  }
  .book-display .booksContainer {
    margin: 100px 20px 0;
  }

  .books-list section {
    width: 100%;
    margin: 0;
  }
  .books-list section .details {
    width: 75%;
    padding: 0 30px 20px;
  }
  .books-list section .details .book-img {
    height: 90%;
  }
  .books-list section .details .book-img img {
    margin-top: 85px;
  }
  .books-list section .title h3 {
    font-size: 1.5rem;
  }
  .books-list section .description {
    width: 100%;
  }
  .books-list section .description p {
    font-size: 0.9rem;
    margin: 0;
    overflow: hidden;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .book-display {
    width: 100%;
  }
  .book-display .booksContainer {
    margin: 100px 20px 0;
  }

  .books-list section {
    width: 100%;
    margin: 0;
  }
  .books-list section .details {
    width: 75%;
    padding: 0 30px 20px;
  }
  .books-list section .details .book-img {
    height: 90%;
  }
  .books-list section .details .book-img img {
    margin-top: 85px;
  }
  .books-list section .title h3 {
    font-size: 1.5rem;
  }
  .books-list section .description {
    width: 100%;
  }
  .books-list section .description p {
    font-size: 0.9rem;
    margin: 0;
    overflow: hidden;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
  .book-display {
    width: 100%;
  }
  .book-display .booksContainer {
    margin: 100px 20px 0;
  }

  .books-list section {
    width: 100%;
    margin: 0;
  }
  .books-list section .details {
    width: 75%;
    padding: 0 30px 20px;
  }
  .books-list section .details .book-img {
    height: 90%;
  }
  .books-list section .details .book-img img {
    margin-top: 85px;
  }
  .books-list section .title h3 {
    font-size: 1.5rem;
  }
  .books-list section .description {
    width: 100%;
  }
  .books-list section .description p {
    font-size: 0.9rem;
    margin: 0;
    overflow: hidden;
  }
}

/*# sourceMappingURL=Books.css.map */
