.bg-gradient-chill {
  background: linear-gradient(135deg, #09e485 0%, #0291e3 100%);
}

.bg-gradient-warm {
  background: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%);
}

.bg-gradient-hot {
  background: linear-gradient(135deg, #f9445a 0%, #fd803f 100%);
}

.bg-gradient-cold {
  background: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%);
}

.bg-gradient-purple {
  background: linear-gradient(135deg, #22151e 0%, #39122a 30%, #8b4c72 100%);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 700px;
  height: 50px;
  padding-left: 20px;
  margin-right: 50px;
  background-color: #8b4c72;
  border: 1px solid #8b4c72;
  border-radius: 15px;
  color: #fffbfd;
  box-shadow: 10px 5px 5px #22151e;
}

input::placeholder {
  color: #fffbfd;
  font-size: 1.2em;
}

button {
  margin-top: 0;
  width: 150px;
  height: 50px;
  background-color: #39122a;
  color: #fffbfd;
  border: 1px solid transparent;
  border-radius: 15px;
}
button:hover {
  background-color: #ad1e74;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
  form {
    flex-direction: column;
  }
  form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-input {
    width: 700px;
    margin-right: 0;
  }

  button {
    margin-top: 30px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  form {
    flex-direction: column;
  }
  form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form .search-input {
    width: 300px;
    margin-right: 0;
  }
  form button {
    margin-top: 30px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  form {
    flex-direction: column;
  }
  form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form .search-input {
    width: 300px;
    margin-right: 0;
  }
  form button {
    margin-top: 30px;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
  form {
    flex-direction: column;
  }
  form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form .search-input {
    width: 300px;
    margin-right: 0;
  }
  form button {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=BooksSearchForm.css.map */
