@import "../../utilities/variables";

form {
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-input {
	width: 700px;
	height: 50px;
	padding-left: 20px;
	margin-right: 50px;
	background-color: $lighterPurpleColor;
	border: 1px solid $lighterPurpleColor;
	border-radius: 15px;
	color: $lightPurpleColor;
	box-shadow: 10px 5px 5px $blackPurpleColor;
}

input::placeholder {
	color: $lightPurpleColor;
	font-size: 1.2em;
}

button {
	@include button(0, 150px, 50px);
}

//responsive design
//pads
@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
	form {
		flex-direction: column;
		label {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	.search-input {
		width: 700px;
		margin-right: 0;
	}

	button {
		margin-top: 30px;
	}
}

//iphone 10 et 12pro
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
	form {
		flex-direction: column;
		label {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.search-input {
			width: 300px;
			margin-right: 0;
		}

		button {
			margin-top: 30px;
		}
	}
}

// Iphone 6
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	form {
		flex-direction: column;
		label {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.search-input {
			width: 300px;
			margin-right: 0;
		}

		button {
			margin-top: 30px;
		}
	}
}

//galaxy S6
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
	form {
		flex-direction: column;
		label {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.search-input {
			width: 300px;
			margin-right: 0;
		}

		button {
			margin-top: 30px;
		}
	}
}
