@import "../../utilities/variables";

.book-display,
.booksContainer,
.book-div {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.book-display {
	width: 33%;

	.booksContainer {
		background-color: $lighterPurpleColor;
		box-shadow: 10px 5px 5px $blackPurpleColor;
		border-radius: 10px;
		margin: 150px 50px 0;
		height: 800px;
		width: 100%;

		.book-div {
			background-color: $lightPurpleColor;
			box-shadow: 10px 5px 5px $blackPurpleColor;
			flex-direction: column;
			justify-content: center;
			width: 80%;
			height: 700px;
			border-radius: 10px;

			.book-img {
				flex-direction: column;
				height: 100%;

				img {
					height: 300px;
					margin: 60px auto 0;
				}
			}

			.book-info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;

				p,
				h3 {
					display: -webkit-box;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
				}

				h3 {
					text-align: center;
					margin: 0 50px;
				}
			}

			.details-btn {
				margin: 30px 0;
			}
		}
		.bookInfo {
			width: 300px;
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			color: $lightPurpleColor;
			margin-bottom: 60px;
			.title {
				font-weight: bold;
				font-size: 1.3rem;
			}
			.author {
				font-size: 1.1rem;
			}
		}
	}
}

// books list design
section,
.detail-container,
.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	box-shadow: 10px 5px 5px $blackPurpleColor;
}

.books-list {
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

	a {
		text-decoration: none;
	}

	section {
		background-color: $lighterPurpleColor;
		width: 80%;
		margin: 100px 0;
		.details {
			width: 70%;
			height: 90%;
			margin: 50px 0 80px 0;
			background-color: $lightPurpleColor;
			padding: 0 50px 20px;
			text-align: justify;
		}

		.book-img {
			img {
				margin-top: 50px;
				height: 300px;
				width: 200px;
			}
		}

		.title {
			h3 {
				font-size: 2.2em;
				text-align: center;
			}
		}

		.author p {
			font-size: 1.5em;
			font-weight: bold;
		}

		.description p {
			font-size: 1.3em;
		}

		.add-book {
			margin-bottom: 50px;
			label {
				font-size: 1.5rem;
				color: $lightPurpleColor;
				margin-right: 15px;
			}
			select {
				height: 40px;
				border-radius: 10px;
				margin-right: 25px;
			}

			button {
				height: 30px;
			}
		}
	}

	.home-link {
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: flex-start;
		margin: 100px 200px;
	}

	.btn-return-list button {
		margin: 100px 200px 100px;
	}
}

// responsive design
/* ipads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
	.book-display {
		width: 50%;
		.booksContainer {
			height: 600px;
			margin: 100px 15px 0;
			.book-div {
				height: 450px;
				.book-img {
					img {
						height: 150px;
					}
				}
				.book-info {
					margin: 10px 0 0;
				}
				.details-btn {
					a {
						display: flex;
						align-items: center;
						margin-bottom: 15px;
						button {
							margin-top: 0;
						}
					}
				}
			}
		}
	}

	.books-list {
		section {
			width: 90%;
		}
	}
}

// iphone X
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
	.book-display {
		width: 100%;
		.booksContainer {
			margin: 100px 20px 0;
		}
	}

	.books-list {
		section {
			width: 100%;
			margin: 0;
			.details {
				width: 75%;
				padding: 0 30px 20px;
				.book-img {
					height: 90%;
					img {
						margin-top: 85px;
					}
				}
			}
			.title {
				h3 {
					font-size: 1.5rem;
				}
			}
			.description {
				width: 100%;
				p {
					font-size: 0.9rem;
					margin: 0;
					overflow: hidden;
				}
			}
		}
	}
}

//iphon 6
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	.book-display {
		width: 100%;
		.booksContainer {
			margin: 100px 20px 0;
		}
	}

	.books-list {
		section {
			width: 100%;
			margin: 0;
			.details {
				width: 75%;
				padding: 0 30px 20px;
				.book-img {
					height: 90%;
					img {
						margin-top: 85px;
					}
				}
			}
			.title {
				h3 {
					font-size: 1.5rem;
				}
			}
			.description {
				width: 100%;
				p {
					font-size: 0.9rem;
					margin: 0;
					overflow: hidden;
				}
			}
		}
	}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
	.book-display {
		width: 100%;
		.booksContainer {
			margin: 100px 20px 0;
		}
	}

	.books-list {
		section {
			width: 100%;
			margin: 0;
			.details {
				width: 75%;
				padding: 0 30px 20px;
				.book-img {
					height: 90%;
					img {
						margin-top: 85px;
					}
				}
			}
			.title {
				h3 {
					font-size: 1.5rem;
				}
			}
			.description {
				width: 100%;
				p {
					font-size: 0.9rem;
					margin: 0;
					overflow: hidden;
				}
			}
		}
	}
}
