@import "../../utilities/variables";

.header {
	height: 150px;
	color: $fontLightColor;
	background-color: $headerColor;
	display: grid;
	width: 100vw;
	box-shadow: 0px 5px 5px $blackPurpleColor;
	.logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-weight: bold;
		h1 {
			font-size: 2.5rem;
			margin-left: 50px;
		}
		img {
			height: 80px;
			width: 150px;
			margin-left: 50px;
		}
	}
	.links {
		grid-area: 1/3/2/4;
		display: flex;
		align-items: center;
		font-size: 1.3rem;
		h2 {
			text-align: center;
		}
		ul {
			display: flex;
			width: 75%;
			justify-content: flex-end;
			align-items: center;
			list-style-type: none;
			li {
				width: 100%;
				text-align: center;
			}
			li a {
				text-decoration: none;
				color: $fontLightColor;
			}

			li:hover {
				background-color: rgba(57, 18, 42, 0.5);
				border: 1px solid transparent;
				border-radius: 20px;
			}
		}
	}
}

// responsive design
@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
	.header {
		height: 100px;
		.logo {
			h1 {
				font-size: 2em;
			}
			img {
				display: none;
			}
		}
		.links {
			font-size: 1.2em;
			ul {
				width: 100%;
				margin-right: 10px;
			}
		}
	}
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
	.header {
		height: 80px;
		.logo {
			display: none;
		}
		.links {
			grid-area: 1/1/2/4;
			font-size: 1rem;
			h2 {
				margin-left: 10px;
				font-size: 1.3rem;
				text-align: center;
			}
		}
	}
}

//Iphone 6
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	.header {
		height: 80px;
		.logo {
			display: none;
		}
		.links {
			grid-area: 1/1/2/4;
			font-size: 1rem;
			h2 {
				margin-left: 10px;
				font-size: 1.3rem;
				text-align: center;
			}
		}
	}
}

// Galaxy
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
	.header {
		height: 80px;
		.logo {
			display: none;
		}
		.links {
			grid-area: 1/1/2/4;
			font-size: 1rem;
			h2 {
				margin-left: 10px;
				font-size: 1.3rem;
				text-align: center;
			}
		}
	}
}
