.bg-gradient-chill {
  background: linear-gradient(135deg, #09e485 0%, #0291e3 100%);
}

.bg-gradient-warm {
  background: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%);
}

.bg-gradient-hot {
  background: linear-gradient(135deg, #f9445a 0%, #fd803f 100%);
}

.bg-gradient-cold {
  background: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%);
}

.bg-gradient-purple {
  background: linear-gradient(135deg, #22151e 0%, #39122a 30%, #8b4c72 100%);
}

.header {
  height: 150px;
  color: #fbfef9;
  background-color: #feb57a;
  display: grid;
  width: 100vw;
  box-shadow: 0px 5px 5px #22151e;
}
.header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}
.header .logo h1 {
  font-size: 2.5rem;
  margin-left: 50px;
}
.header .logo img {
  height: 80px;
  width: 150px;
  margin-left: 50px;
}
.header .links {
  grid-area: 1/3/2/4;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.header .links h2 {
  text-align: center;
}
.header .links ul {
  display: flex;
  width: 75%;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}
.header .links ul li {
  width: 100%;
  text-align: center;
}
.header .links ul li a {
  text-decoration: none;
  color: #fbfef9;
}
.header .links ul li:hover {
  background-color: rgba(57, 18, 42, 0.5);
  border: 1px solid transparent;
  border-radius: 20px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
  .header {
    height: 100px;
  }
  .header .logo h1 {
    font-size: 2em;
  }
  .header .logo img {
    display: none;
  }
  .header .links {
    font-size: 1.2em;
  }
  .header .links ul {
    width: 100%;
    margin-right: 10px;
  }
}
/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .header {
    height: 80px;
  }
  .header .logo {
    display: none;
  }
  .header .links {
    grid-area: 1/1/2/4;
    font-size: 1rem;
  }
  .header .links h2 {
    margin-left: 10px;
    font-size: 1.3rem;
    text-align: center;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .header {
    height: 80px;
  }
  .header .logo {
    display: none;
  }
  .header .links {
    grid-area: 1/1/2/4;
    font-size: 1rem;
  }
  .header .links h2 {
    margin-left: 10px;
    font-size: 1.3rem;
    text-align: center;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
  .header {
    height: 80px;
  }
  .header .logo {
    display: none;
  }
  .header .links {
    grid-area: 1/1/2/4;
    font-size: 1rem;
  }
  .header .links h2 {
    margin-left: 10px;
    font-size: 1.3rem;
    text-align: center;
  }
}

/*# sourceMappingURL=Header.css.map */
