.bg-gradient-chill {
  background: linear-gradient(135deg, #09e485 0%, #0291e3 100%);
}

.bg-gradient-warm {
  background: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%);
}

.bg-gradient-hot {
  background: linear-gradient(135deg, #f9445a 0%, #fd803f 100%);
}

.bg-gradient-cold {
  background: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%);
}

.bg-gradient-purple {
  background: linear-gradient(135deg, #22151e 0%, #39122a 30%, #8b4c72 100%);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #feb57a;
  color: #fbfef9;
  bottom: 0;
  width: 100%;
  height: 50px;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .footer {
    font-size: 0.8rem;
    text-align: center;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
  .footer {
    font-size: 0.8rem;
    text-align: center;
  }
}

/*# sourceMappingURL=Footer.css.map */
