@import "../../utilities/variables";

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $headerColor;
	color: $fontLightColor;
	bottom: 0;
	width: 100%;
	height: 50px;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
	.footer {
		font-size: 0.8rem;
		text-align: center;
	}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
	.footer {
		font-size: 0.8rem;
		text-align: center;
	}
}
